<p>home works!</p>
<div class="home-container">
  <div class="row">
    <div class="col-md text">
      <br />Firma GUMON bola založená v roku 2019 a prevzala všetky aktivity,
      sortiment aj know- how po zaniknutom DLX družstve (1995 – 2019). Skúsený
      tím pracovníkov s vyše 20 ročnou praxou v oblasti elektrotechnického,
      strojárskeho a energetického priemyslu zabezpečuje dodávky nie len
      základných konštrukčných a izolačných materiálov, ale aj prevíjanie a
      rezanie flexibilných izolácií, ako aj opracovanie a výrobu izolačných
      dielcov podľa výkresu a požiadaviek zákazníkov.<br /><br />
      Dodávateľom základných elektro-izolačných materiálov a surovín sú
      renomovaní výrobcovia výhradne z členských krajín EÚ.
    </div>
    <div class="col-md home-image">
      <img
        src="../../../assets/img/profile-picture.png"
        alt="Filip Hudec"
        height="200"
      />
    </div>
  </div>
</div>
